<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/Apharm.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <body style="width:100%; height: 100%; overflow-x:hidden;  overflow-y:hidden;">
        <main>
            <div class="navtext">증상 > 심장사상충 약</div>
            <div class="subtext"> 내 근처 보유약국/편의점 검색결과 30건</div>
            
    
            <p class="subline"></p>
            <hr class="hr1"/>
            <hr class="mainline1"/>
            <hr class="mainline2"/>
            <hr class="mainline3">
            <hr class="mainline4"/>
            
            <div class="search">
                <hr class="searchline"/>
                <p class="searchtext">찾는 약이 없다면? 약 검색하기 &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-magnifying-glass" style="color: #18a247;"></i></p>
            </div>
            <div class="container">
                <div class="firstP">
                    <p class="circle"></p>
                    <p class="circletext">구매가능</p>
    
                    <p class="num1">1</p>
                    <p class="name">휴베이스 오투약국</p>
                    <p class="distance">차로 6분</p>
                    <p class="phonenum">대표번호&nbsp;&nbsp;0507-1325-2955</p>
                    <p class="adress">주소&nbsp;&nbsp;경남 진주시 진주대로 816번길 18-1 오투약국</p>
                    <p class="time">영업시간&nbsp;&nbsp;월~금 09:30~19:00<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;토요일 09:30~13:00
                        &nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일요일</p>
                    <p class="redtext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;휴무</p>
                    <p class="medi">심장사상충 약 > 하트가드/넥스가드</p>
                    
                </div>
    
                <div class="secondP">
                    <p class="circle2"></p>
                    <p class="circletext2">품절</p>
    
                    <p class="num2">2</p>
                    <p class="name2">고은약국</p>
                    <p class="distance2">차로 15분</p>
                    <p class="phonenum2">대표번호&nbsp;&nbsp;055-744-8899</p>
                    <p class="adress2">주소&nbsp;&nbsp;경남 진주시 순환로 527 <br> (지번 평거동 907)</p>
                    <p class="time2">영업시간&nbsp;&nbsp;월~금 08:40~20:00<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;토요일 08:40~15:00
                        &nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일요일</p>
                    <p class="redtext2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;휴무</p>
                    <p class="medi2">심장사상충 보유약 > X </p>
                    
                </div>
            </div>
            <div class="container">
                <div class="thirdP">
                    <P class="num3">3</P>
                    <p class="circle3"></p>
                    <p class="circletext3">구매가능</p>
    
                    <p class="name3">허니약국</p>
                    <p class="distance3">차로 10분</p>
                    <p class="phonenum3">대표번호&nbsp;&nbsp;0507-1353-0229</p>
                    <p class="adress3">주소&nbsp;&nbsp;경남 진주시 진주대로 872-10 1층 (지번 칠암동 486-3)</p>
                    <p class="time3">영업시간&nbsp;&nbsp;월~금 09:00~18:30<br>&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;토요일 09:00~14:00
                        &nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일요일</p>
                    <p class="redtext3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;휴무</p>
                    <p class="medi3">심장사상충 약 > 하트가드/넥스가드/애드보킷 </p>
                    
                </div>
    
                <div class="fourthP">
                    <P class="num4">4</P>
                    <p class="circle4"></p>
                    <p class="circletext4">구매가능</p>
                    
                    <p class="name4">다나약국</p>
                    <p class="distance4">차로 10분</p>
                    <p class="phonenum4">대표번호&nbsp;&nbsp;0507-1305-1783</p>
                    <p class="adress4">주소&nbsp;&nbsp;경남 진주시 초복로 46 101호 다나약국 <br> (지번 가좌동 562-5) </p>
                    <p class="time4">영업시간&nbsp;&nbsp;월~금 08:40~20:00<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;토요일 09:30~13:00 <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일요일 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="redtext4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;휴무</p>
                    <p class="medi4">심장사상충 약 > 하트가드/넥스가드/애드보킷 </p>
                    
                </div>
    
                <p class="footer"><i class="fa-solid fa-caret-left" style="color: #dadada;"></i>&nbsp;&nbsp;1&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;
                    4&nbsp;&nbsp;5&nbsp;&nbsp;<i class="fa-solid fa-caret-right" style="color: #dadada;"></i></p>
            </div>
        </main>
</body>
</html>