*{
    box-sizing: content-box;
}
@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ol, ul,li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
main{
    width: 1100px;
    margin:0 auto;
}
h2 {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-family: 'Pretendard-Bold';
}
.hr1 {
    max-width: 88rem;
    border: 1.5px solid #18a247;
    margin-top: 5.5rem;
}
.normal {
    position: relative;
    left: 1rem;
    font-family: 'Pretendard-Regular';
    font-size: 1.1rem;
}
.special{
    position: relative;
    left: 1rem;
    font-family: 'Pretendard-Regular';
    font-size: 1.1rem;
}
.BoxWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image{
    width: 5rem ;
    height: 5rem;
}
.box {
    width: 14rem;
    height: 10rem;
    border-radius: 2rem;
    background-color: #c2efd2;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 1rem;

    cursor: pointer;
    transition: all .15s ease-in-out;
}
.box:hover {
    background-color: #18a247;
    color:#ffffff;
}
.text {
    font-size: 1.2rem;
    font-family: 'Pretendard-SemiBold';
    margin:0;
    padding:0;
    margin-top: 1rem;
}
.hr2{
    position: relative;
    max-width: 75.5rem;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #eaeaea;
}