/* 헤더스타일 */
header {
    position: fixed;
    top:0; left:0; bottom: 0; right: 0;

    margin:0;
    padding:0 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
    height: 100px;

    background-color: transparent;
    backdrop-filter: blur(5px);

    box-shadow: 0 0 0 ;
}
header.sticky {
    box-shadow: 0 3px 10px #dadada7d;
}
/* 로고 */
.Logo img {
    margin-left: 0.7rem;
    width: 6rem;
    cursor: pointer;
}
/* 메뉴 */
.Menu {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.Tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Tools p {
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 0.7rem;
    font-family: 'Pretendard-SemiBold';

    cursor: pointer;
}
/*검색창*/
.Tools .Search {
    position: relative;

    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.Tools .Search:hover {
    background-color: var(--second-color);
}
.Tools .Search.active {
    width:14rem;

    background-color: var(--second-color);
}
.Tools i{
    position: absolute;
    top:0; left:0;
    transform: translate(50%,50%);
}
.Tools i.active {
    position: relative;
    transform: translate(0,0);
    padding-right: 0.4rem;
    padding-top:0.1rem;
}
.Tools .Search .input {
    position: relative;
    width:11rem;
    height: 1.9rem;
    left: 0.5rem;
    display: none;
}
.Tools .input.active {
    display: block;
}
.Tools .Search .input input {
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 0;

    font-size: 0.8rem;
    font-family: 'Pretendard-Regular';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav .MainMenu {
    margin-left: 1.1rem;
    padding: 0.3rem 0.7rem;

    font-size: 1rem;
    font-family: 'Pretendard-SemiBold';

    border-radius: 11px;
    background-color: transparent;

    cursor: pointer;

    transition: background-Color 0.2s ease-in-out;
}
nav .MainMenu:hover {
    background-color: var(--second-color);
}
nav .MainMenu.active {
    background-color: var(--second-color);
}

.AnimalWrap .Tools .Search:hover {
    background-color: #E8F6ED;
}
.AnimalWrap .Tools .Search.active {
    background-color: #E8F6ED;
}
.AnimalWrap nav .MainMenu:hover {
    background-color: #E8F6ED;
}
.AnimalWrap nav .MainMenu.active {
    background-color: #E8F6ED
}