*{
    box-sizing: content-box;
}
@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ol, ul,li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 기본정보 */
.infobox {
    width: 58rem;
    height: 25rem;
    position: relative;
    border: 0.3rem solid #dadada;
    left: 5.5rem;
    top: 9rem;
    border-radius: 5rem;
}
.profilecircle{
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 10rem;
    background-color: #005aac;
    bottom: 10.5rem;
    left: 10rem;
}
.hong {
    position: relative;
    font-size: 3.5rem;
    font-weight: bold;
    bottom: 22.4rem;
    left: 14.3rem;
    color: white;
}
.name {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    bottom: 31.5rem;
    left: 25rem;
}

.email {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    bottom: 32.5rem;
    left: 25rem;
}
.phonenum {
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    bottom: 33.4rem;
    left: 25rem;
}
.birth {
    position: relative;
    font-size: 1.3rem;
    bottom: 44.5rem;
    left: 45rem;
}
.나머지 {
    position: relative;
    font-size: 1.3rem;
    bottom: 43.8rem;
    left: 45rem;
}
/* 좋아요,댓글 */
.commentbox {
    width: 40rem;
    height: 25rem;
    position: relative;
    /* border: 0.3rem solid #dadada; */
    left: 68rem;
    bottom: 64.7rem;
    border-radius: 5rem;
    background-color: #005aac;
}

.commenttext {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 82rem;
    left: 75rem;
    text-decoration: underline;
    color: white;
}
.scripttext {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 81rem;
    left: 75rem;
    text-decoration: underline;
    color: white;
}
/* 북마크 */
.bookbox {
    width: 102.7rem;
    height: 50rem;
    position: relative;
    border: 0.3rem solid #dadada;
    left: 5.5rem;
    bottom: 70rem;
    border-radius: 5rem;
}
.text {
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    bottom: 118rem;
    left: 11rem;
}

.underline1 {
    border: 0.01rem solid #dadada;
    position: relative;
    bottom: 128rem;
    width: 90rem;
    left: 10rem;
}

.underline2 {
    border: 0.01rem solid #dadada;
    position: relative;
    bottom: 120.3rem;
    width: 90rem;
    left: 10rem;
}
.underline3 {
    border: 0.01rem solid #dadada;
    position: relative;
    bottom: 113rem;
    width: 90rem;
    left: 10rem;
}
.underline4 {
    border: 0.01rem solid #dadada;
    position: relative;
    bottom: 106rem;
    width: 90rem;
    left: 10rem;
}
.date {
    position: relative;
    font-size: 1.8em;
    bottom: 127rem;
    left: 12rem;
    font-weight: bold;
}
.docname {
    position: relative;
    font-size: 1.5em;
    bottom: 112.5rem;
    left: 28rem;
}
.pharmname {
    position: relative;
    font-size: 1.5em;
    bottom: 116rem;
    left: 44rem; 
}
.mediname {
    position: relative;
    font-size: 1.5em;
    bottom: 123rem;
    left:74rem; 
}

.position{
    position: relative;
    font-size: 1.5em;
    bottom: 119.55rem;
    left: 62rem;
}

.secondtext { 
    position: relative;
    display: flex;
    font-size: 1.5em;
    bottom: 144rem;
    left: 27.6rem;
}

.date2{
    font-size: 1.8rem;
    position: relative;
    font-weight: bold;
    bottom: 149.5rem;
    left: 11.7rem;
}

.iconbox {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #005aac;
    bottom: 147rem;
    left : 99rem;
    border-radius: 0.7rem;
}
.plus {
    position: relative;
    bottom: 155.4rem;
    left: 99.7rem;
    font-size: 3.6rem;
    font-weight: bold;
    color: white;
}


