@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ol, ul,li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}



* {
    margin: 0;
    padding: 0;
    font-family : 'Pretendard';
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Pretendard-Bold';
  }
  
  .int-area {
    width: 25rem;
    position: relative;
    margin-top: 1rem;
  }
  
  .int-area:first-child {
    margin-top: 0;
  }
  
  .int-area input {
    width: 100%;
    padding: 1.2rem 1rem 1.2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    outline: none;
  }
  
  .int-area label {
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    font-size: 1.2rem;
    transition: top 0.5s ease;
  }
  
  .int-area label.warning {
    color: red !important;
    animation: warning 0.3s ease;
    animation-iteration-count: 3;
  }
  
  @keyframes warning {
    0% {
      transform: translateX(-8px);
    }
    25% {
      transform: translateX(8px);
    }
    50% {
      transform: translateX(-8px);
    }
    75% {
      transform: translateX(8px);
    }
  }
  
  .int-area input:focus + label,
  .int-area input:valid + label {
    top: -2px;
    font-size: 13px;
    color: #005AAC;
  }
  
  .btn-area {
    margin-top: 30px;
  }
  
  .btn-area button {
    width: 100%;
    height: 3.5rem;
    margin: 0px 10px;
    color: #fff;
    background: #166caa;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .caption {
    margin-top: 1.3rem;
    text-align: center;
    font-family: 'Pretendard-Medium';
  }
  
  .caption a {
    margin: 0 2rem;
    font-size: 1rem;
    color: black;
    text-decoration: none;
  }