{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팜팜</title>
    <link rel="stylesheet" href="{% static 'css/List.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="{% static 'js/list.js' %}" defer></script>
    <script src="{% static 'js/header.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="PeopleWrap">
        <header>
            <div class="Logo" href="#">
                <img src="/static/img/logo.png">
            </div>
            <div class="Menu">
                <div class="Tools">
                    <div class="Search">
                        <div class="input">
                            <input type="text" placeholder="검색어를 입력하세요." id="mysearch" />
                        </div>
                        <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                    </div>
                    <p class="signIn">로그인</p>
                    <p class="signUp">회원가입</p>
                </div>
                <nav>
                    <div class="MainMenu">약국찾기</div>
                    <div class="MainMenu">보유약국 찾기</div>
                    <div class="MainMenu">커뮤니티</div>
                    <div class="MainMenu">상담하기</div>
                </nav>
            </div>
        </header>
        <main>
            <hr class="hr1"/>
            <section class="wrap">
                <div class="FilterWrap">
                    <div class="filter">
                        <span class="fill active">인기순</span>
                        |
                        <span class="fill">최신순</span>
                    </div>
                    <div class="ArticleSearch" id="ArticleSearch">
                        <form>
                            <input type="text" id="user-current-point" placeholder="검색어를 입력하세요"/> 
                            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #005AAC;"></i></button>
                        </form>
                    </div>
                </div>
                <div class="ListWrap">                    
                    <hr/>
                    { % for list in Community %}
                    <div class="Content">
                        <p class="contNum">{{ forloop.counter }}</p>
                        <div class="contWrap">
                            <p class="contTitle">{{ Community.post }} </p>
                            <p class="contArticle">{{ Community.post }} </p>
                            <div class="contReactWrap">
                                <div class="React">
                                    <img src="/static/img/comment.svg">
                                    <span class="comment">3</span>
                                    <i class="fa-regular fa-thumbs-up" style="color: #000000;"></i>
                                    <span class="heart">54</span>
                                </div>
                                <p class="Date">
                                    2023년 5월 31일 12:00 작성
                                </p>
                            </div>
                        </div>
                        <img class="contImg" src="/static/img/puzzle.jpg" />
                    </div>
                    <hr/> 
                    { % endfor %}                   
                </div>
                <button type="button" class="writeBtn">글쓰기</button>
                <div class="PageNum">
                    <button type="button" class="pagePrevBtn">◀</button>
                    <span class="num active">1</span>
                    <button type="button" class="pageNextBtn">▶</button>
                </div>
            </section>
            <footer>
                <p class="footerText">
                    ⓒ 멋쟁이사자처럼 11th at 경상국립대
                </p>
                <p class="footerMem">
                    서지원 서현호 김재용 정시은 강지희 강경아
                </p>
            </footer>
        </main>
    </div>
    <div class="AnimalWrap">
        <header>
            <div class="Logo" href="#">
                <img src="/static/img/logo.png">
            </div>
            <div class="Menu">
                <div class="Tools">
                    <div class="Search">
                        <div class="input">
                            <input type="text" placeholder="검색어를 입력하세요." id="mysearch" />
                        </div>
                        <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                    </div>
                    <p class="signIn">로그인</p>
                    <p class="signUp">회원가입</p>
                </div>
                <nav>
                    <div class="MainMenu">약국찾기</div>
                    <div class="MainMenu">보유약국 찾기</div>
                    <div class="MainMenu">커뮤니티</div>
                    <div class="MainMenu">상담하기</div>
                </nav>
            </div>
        </header>
        <main>
            <hr class="hr1"/>
            <section class="wrap">
                <div class="FilterWrap">
                    <div class="filter">
                        <span class="fill active">인기순</span>
                        |
                        <span class="fill">최신순</span>
                    </div>
                    <div class="ArticleSearch" id="ArticleSearch">
                        <form>
                            <input type="text" id="user-current-point" placeholder="검색어를 입력하세요"/> 
                            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #18A247;"></i></button>
                        </form>
                    </div>
                </div>
                <div class="ListWrap">
                    <hr/>
                    { % for lists in list}
                    <div class="Content">
                        <p class="contNum">{{forloop.counter}} </p>
                        <div class="contWrap">
                            <p class="contTitle">모델에제목이없어......</p>
                            <p class="contArticle">{{ list.post }} </p>
                            <div class="contReactWrap">
                                <div class="React">
                                    <img src="/static/img/comment.svg">
                                    <span class="comment">{{ list.comment | length }} </span>
                                    <i class="fa-regular fa-thumbs-up" style="color: #000000;"></i>
                                    <span class="heart">{{ list.like_number }} </span>
                                </div>
                                <p class="Date">
                                    {{ list.recommendation_order }} 작성
                                </p>
                            </div>
                        </div>
                        <img class="contImg" src="/static/img/puzzle.jpg" />
                    </div>
                    <hr/>                    
                </div>
                <button type="button" class="writeBtn">글쓰기</button>
                <div class="PageNum">
                    <button type="button" class="pagePrevBtn">◀</button>
                    <span class="num active">1</span>
                    <button type="button" class="pageNextBtn">▶</button>
                </div>
            </section>
            <footer>
                <p class="footerText">
                    ⓒ 멋쟁이사자처럼 11th at 경상국립대
                </p>
                <p class="footerMem">
                    서지원 서현호 김재용 정시은 강지희 강경아
                </p>
            </footer>
        </main>
    </div>

</body>
</html>