<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약국 찾기</title>
    <link rel="stylesheet" href="/static/css/animalMapSearching.css">
</head>
<body>
    <div class="animalSearch">
        <br>
        <p class="searchQ">현위치에서 가까운 동물약국 찾기</p>
        <br>
        <input class="searchIn" type="text" placeholder="   현위치를 입력하세요.   ">
        <br>
        <br>
        <button class="animalBtn">동물약국</button>
    </div>

    <div class="searchList">
        <div class="firstResult">
            <div class="topBar1">
                <div class="resultNum1">
                    <p class="num1">1.</p>
                    <p class="endOrNot1">영업중</p>
                </div>
                <p class="pharm1">시민온누리약국</p>
                <p class="pharm1min">도보 17분</p>
                <p class="review1">*****<br>리뷰보기</p>
            </div>
            <div class="title1">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="content1">
                <p>055-753-7307</p>
                <br>
                <p>경남 진주시 관문로 7 율곡스퀘어 프런티어 115호 (지번 가좌동 2064-2)</p>
                <br>
                <p>월~금 09:00~19:30<br>토요일 09:00~14:00<br>일요일 휴무</p>
            </div>
            <button class="findBtn1">재고찾기</button>
        </div>

        <div class="adResult">
            <div class="topBarAd">
                <div class="resultNumAd">
                    <p class="numAd">팜팜<br>광고</p>
                    <p class="endOrNotAd">영업중</p>
                </div>
                <p class="pharmAd">허니약국</p>
                <p class="pharmAdMin">차량 8분 3.8km</p>
                <p class="reviewAd">*****<br>리뷰보기</p>
            </div>
            <div class="titleAd">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="contentAd">
                <p>055-757-0229</p>
                <br>
                <p>경남 진주시 진주대로 872-10 1층 (지번 칠암동 486-3)</p>
                <br>
                <p>월~금 08:30~19:00<br>토요일 08:30~15:00<br>일요일 휴무</p>
            </div>
            <button class="findBtnAd">재고찾기</button>
        </div>

        <div class="secondResult">
            <div class="topBar2">
                <div class="resultNum2">
                    <p class="num2">2.</p>
                    <p class="endOrNot2">영업종료</p>
                </div>
                <p class="pharm2">오투약국</p>
                <p class="pharm2Min">차량 7분 3.3km</p>
                <p class="review2">*****<br>리뷰보기</p>
            </div>
            <div class="title2">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="content2">
                <p>055-794-2955</p>
                <br>
                <p>경남 진주시 진주대로 816번길 18-1 1층</p>
                <br>
                <p>월~금 09:00~19:30<br>토요일 휴무<br>일요일 휴무</p>
            </div>
            <button class="findBtn2">재고찾기</button>
        </div>

        <div class="thirdResult">
            <div class="topBar3">
                <div class="resultNum3">
                    <p class="num3">3.</p>
                    <p class="endOrNot3">영업중</p>
                </div>
                <p class="pharm3">허니약국</p>
                <p class="pharm3Min">차량 8분 3.8km</p>
                <p class="review3">*****<br>리뷰보기</p>
            </div>
            <div class="title3">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="content3">
                <p>055-757-0229</p>
                <br>
                <p>경남 진주시 진주대로 872-10 1층 (지번 칠암동 486-3)</p>
                <br>
                <p>월~금 08:30~19:00<br>토요일 08:30~15:00<br>일요일 휴무</p>
            </div>
            <button class="findBtn3">재고찾기</button>
        </div>

        <div class="mapBox"></div>



    </div>
    <div class="pageChangeBtn">
        <button class="human">H</button>
        <br>
        <button class="animal" onclick="location.href='indexHuman.html'">A</button>
    </div>
</body>
</html>