<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/around.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="title">
    <h2>반려동물을 위한 건강식품 모아보기</h2>
</div>


<div class="button-container">
    <button class="button" onclick="goToPage('./around.html')">구충제</button>
    <button class="button" onclick="goToPage('./around2.html')">세정제</button>
    <button class="button" onclick="goToPage('./around3.html')">항생제</button>
    <button class="button selected">관절염치료제</button>
    <button class="button" onclick="goToPage('./around5.html')">피부질환제</button>
    <button class="button" onclick="goToPage('./around6.html')">기타</button>
  </div>

  <div class="product1"><a href="https://www.coupang.com/vp/products/6919179178?itemId=16702414071&vendorItemId=4377597110&q=%EB%8F%99%EB%AC%BC+%EA%B4%80%EC%A0%88%EC%97%BC+%EC%B9%98%EB%A3%8C%EC%A0%9C&itemsCount=36&searchId=cb202fb38c08406e8c536e4553157be9&rank=2&isAddedCart=">
    <img src="./product4-1.png" alt=""></a>
    <h3>닥터바이</h3>
    <h4>관절영양제</h4>
    <del class="price">81,600원</del>
    <span class="discount-price">45,800원</span>

    <div class="product2"><a href="https://www.coupang.com/vp/products/7088352914?itemId=17706231906&vendorItemId=84922634908&sourceType=srp_product_ads&clickEventId=3f490573-9319-47e6-bb63-56de4fd2bc0f&korePlacement=15&koreSubPlacement=1&q=%EB%8F%99%EB%AC%BC+%EA%B4%80%EC%A0%88+%EC%B9%98%EB%A3%8C%EC%A0%9C&itemsCount=36&searchId=38b9f30672d34628a6be4964cadb6617&rank=0&isAddedCart=">
        <img src="./product4-3.png" alt=""></a>
        <h3>펫시딘</h3>
        <h4>관절영양제</h4>
        <del class="price">57,600원</del>
        <span class="discount-price">39,600원</span>

    <div class="product3"><a href="https://www.coupang.com/vp/products/7415508253?itemId=19223611883&vendorItemId=80240902976&q=%EB%8F%99%EB%AC%BC+%EA%B4%80%EC%A0%88%EC%97%BC+%EC%B9%98%EB%A3%8C%EC%A0%9C&itemsCount=36&searchId=cb202fb38c08406e8c536e4553157be9&rank=3&isAddedCart=">
        <img src="./product4-2.png" alt=""></a>
        <h3>바이오펫츠</h3>
        <h4>관절영양제</h4>
        <del class="price">25,000원</del>
        <span class="discount-price">23,000원</span>
</div>




  <script>
    //  document.querySelector('.button').classList.add('selected');
      // 페이지 전환 로직을 여기에 구현합니다.
      // 예시로 window.location.href를 사용하여 URL을 변경합니다.
    function goToPage(url) {
    window.location.href = url;
  }
  </script>

</body>
</html>