<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/around.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="title">
    <h2>반려동물을 위한 건강식품 모아보기</h2>
</div>

<div class="button-container">
    <button class="button" onclick="goToPage('./around.html')">구충제</button>
    <button class="button" onclick="goToPage('./around2.html')">세정제</button>
    <button class="button" onclick="goToPage('./around3.html')">항생제</button>
    <button class="button" onclick="goToPage('./around4.html')">관절염치료제</button>
    <button class="button" onclick="goToPage('./around5.html')">피부질환제</button>
    <button class="button selected">기타</button>
  </div>

  <div class="List" id="sixth">
    <div class="product">
      <a href="https://www.coupang.com/vp/products/1821941195?itemId=3100180564&vendorItemId=71087964616&sourceType=srp_product_ads&clickEventId=adac242f-5ecc-4207-9933-51b991eb2f94&korePlacement=15&koreSubPlacement=15&q=%EB%8F%99%EB%AC%BC+%EB%AF%B8%EC%9A%A9%ED%92%88&itemsCount=36&searchId=df7930eccfbf488285a13e0ceb194eb6&rank=14&isAddedCart=">
      <img src="/static/img/product6-1.png" alt=""></a>
      <h3>마이펫</h3>
      <h4>이발기</h4>
      <del class="price">20,000원</del>
      <span class="discount-price">15,000원</span>
    </div>
    <div class="product">
      <a href="https://www.coupang.com/vp/products/7235145807?itemId=18369112119&vendorItemId=85512672169&sourceType=srp_product_ads&clickEventId=06348b50-1119-435f-9267-3f08dbb4a174&korePlacement=15&koreSubPlacement=1&q=%EB%8F%99%EB%AC%BC+%EC%B2%B4%EC%98%A8%EA%B3%84&itemsCount=36&searchId=fc372d351aea4aa09d78274cdb47039a&rank=0&isAddedCart=">
      <img src="/static/img/product6-3.png" alt=""></a>
      <h3>지씨비엠</h3>
      <h4>체온계</h4>
      <del class="price">12,900원</del>
      <span class="discount-price">5,900원</span>
    </div>

    <div class="product">
      <a href="https://www.coupang.com/vp/products/6320592339?itemId=13170853352&vendorItemId=80429520644&q=%EB%8F%99%EB%AC%BC+%EC%9D%98%EB%A3%8C%EC%9A%A9%ED%92%88&itemsCount=36&searchId=2be9bbabcd35461ba8fc9f70f58b8fb0&rank=19&isAddedCart=">
      <img src="/static/img/product6-2.png" alt=""></a>
      <h3>SIMCRO</h3>
      <h4>의료용 주사기</h4>
      <del class="price">50,000원</del>
      <span class="discount-price">44,000원</span>
    </div>
  </div>



  <script>
    //  document.querySelector('.button').classList.add('selected');
      // 페이지 전환 로직을 여기에 구현합니다.
      // 예시로 window.location.href를 사용하여 URL을 변경합니다.
    function goToPage(url) {
    window.location.href = url;
  }
  </script>

</body>
</html>