<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/around.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="title">
    <h2>반려동물을 위한 건강식품 모아보기</h2>
</div>

<div class="button-container">
    <button class="button" onclick="goToPage('./around.html')">구충제</button>
    <button class="button" onclick="goToPage('./around2.html')">세정제</button>
    <button class="button selected">항생제</button>
    <button class="button" onclick="goToPage('./around4.html')">관절염치료제</button>
    <button class="button" onclick="goToPage('./around5.html')">피부질환제</button>
    <button class="button" onclick="goToPage('./around6.html')">기타</button>
  </div>

  <div class="List" id="third">
    <div class="product"><a href="https://www.coupang.com/vp/products/6559331399?itemId=14677208792&vendorItemId=81918215482&sourceType=srp_product_ads&clickEventId=b4f03e9f-4658-4124-8fd3-0b3efd6f57c0&korePlacement=15&koreSubPlacement=6&q=%EB%B0%98%EB%A0%A4%EB%8F%99%EB%AC%BC+%ED%95%AD%EC%83%9D%EC%A0%9C&itemsCount=36&searchId=fe8db46ad8fd48b29a5efe85f4cab54a&rank=5&isAddedCart=">
      <img src="/static/img/product3-1.png" alt=""></a>
      <h3>닥터바이</h3>
      <h4>재채기 기관지 항생제</h4>
      <del class="price">119,700원</del>
      <span class="discount-price">80,700원</span>
    </div>
    <div class="product"><a href="https://www.coupang.com/vp/products/172147098?itemId=492196019&vendorItemId=4246766137&pickType=COU_PICK&q=%EB%B0%98%EB%A0%A4%EB%8F%99%EB%AC%BC+%ED%95%AD%EC%83%9D%EC%A0%9C&itemsCount=36&searchId=fe8db46ad8fd48b29a5efe85f4cab54a&rank=2&isAddedCart=">
        <img src="/static/img/product3-3.png" alt=""></a>
        <h3>펫에그</h3>
        <h4>지사제</h4>
        <del class="price">18,000원</del>
        <span class="discount-price">16,190원</span>
    </div>
    <div class="product"><a href="https://www.coupang.com/vp/products/1313977884?itemId=2331842757&vendorItemId=70328380057&q=%EB%B0%98%EB%A0%A4%EB%8F%99%EB%AC%BC+%ED%95%AD%EC%83%9D%EC%A0%9C&itemsCount=36&searchId=fe8db46ad8fd48b29a5efe85f4cab54a&rank=10&isAddedCart=">
        <img src="/static/img/product3-2.png" alt=""></a>
        <h3>식스스텝</h3>
        <h4>항산화제</h4>
        <del class="price">34,900원</del>
        <span class="discount-price">32,900원</span>
    </div>
  </div>




  <script>
    //  document.querySelector('.button').classList.add('selected');
      // 페이지 전환 로직을 여기에 구현합니다.
      // 예시로 window.location.href를 사용하여 URL을 변경합니다.
    function goToPage(url) {
    window.location.href = url;
  }
  </script>

</body>
</html>