<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/comuDetailStyle.css">
    <title>Document</title>
</head>
<body>
<div class="wrap_all">
    <h1 class="title">심장 근처가 아픕니다 이거 괜찮은 거 맞나요? 어디로 가야 할까요? 너무 심각한 건 아닌지....</h1>
    <div class="info">
        <div class="profile">
            <img class="profile_img" src="/static/img/comuDetailImg/profile1.png" alt="프로필 이미지">
            <span class="nickname">이름</span>
        </div>
        <div class="info_data">
            <span>2033년 3월 3일 00:00 작성</span>
            <span>|</span>
            <span>댓글</span><span class="cnum">17</span>
            <span>|</span>
            <span>공감</span><span class="cnum">21</span>
            <img src="/static/img/comuDetailImg/menuimg.png" alt="메뉴">
        </div>
    </div>
    <div class="line"><hr class="hr"></div>
        <p class="main_text">
            제목 그대로 심장 근처 부분이 아픕니다. 코로나19 백신을 맞은 뒤로 이상하게 심장 부근이 미세하게 뛰는 느낌도 들고 너무 걱정되어요 작은 병원에 가봤는데 말이 안심이 안돼요ㅜㅜ 큰 병원으로 가야 할 것 같은데 돈이 많이 깨질까요? 걱정되네요....... 
막 너무 심각한 병은 아니겠죠?? ㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜㅜ
        </p>
    <div class="inside_img"><img src="/static/img/comuDetailImg/insideimg1.png" alt="글 내부 이미지"></div>
    <div class="ad_img"><img src="/static/img/comuDetailImg/adimg1.png" alt="광고"></div>
    <div class="info_data_mini">
        <img src="/static/img/comuDetailImg/comment_img1.png" alt="댓글">
        <span>댓글</span><span class="cnum">17</span>
        <div class="white_space"></div>
        <img src="/static/img/comuDetailImg/thumb_up_img1.png" alt="공감">
        <span>공감</span><span class="cnum">21</span>
    </div>
    <div class="line"><hr class="hr"></div>

    <div class="put_comment">
        <div class="profile">
            <img class="profile_img profile_img_comment" src="#" alt="프로필 이미지">
            <span class="nickname">이름</span>
        </div>
        <form action="#">
            <div class="comment_box">
                <textarea class="input_comment" placeholder="댓글을 입력해 주세요"></textarea>
            </div>
            <button class="comment_button">작성</button>
        </form>
    </div>
    <div class="white_space2"></div>
    <div class="line"><hr class="hr"></div>
    <div class="align_profile">
        <div class="profile">
            <img class="profile_img profile_img_comment" src="#" alt="프로필 이미지">
            <span class="nickname">이름</span>
        </div>
        <p class="comment_value">예시문장 예시문장 언머;ㅣㅏ언ㅁㄹ;ㅇ날;ㅓㄴㅁ이ㅏ러ㅏ인;러ㅏㄴ이;ㅓ링ㄴㅓ링날;</p>
        <div class="white_space3"></div>
    </div>


</div>
    <script src="/static/js/comuDetail.js"></script>

</body>
</html>