<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
    <title>PharmPharm</title>
    <link rel="stylesheet" href="/static/css/contact.css">
    <script src="/static/js/contact.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>

    <!-- 1440x165 -->
    <header>
        <nav>
            
        </nav>
    </header>

    <main>
        <!-- 300x840 -->
        <aside>
            <div class="Counselor_Container">
                <div class="Counselor_Nav">
                    <Button class="Counselor_Nav_Btn">
                        상담중인 약사 
                        <span class="Counselor_Nav_Btn_N">5</span>
                    </Button>
                    <Button class="Counselor_Nav_Btn">
                        전체 약사 
                        <span class="Counselor_Nav_Btn_N">7</span>
                    </Button>
                </div>
                <div class="Counselor_List">
                    <div class="Counselor_List_Item">
                    김00(대기)<br><br>
                    나00(대기)<br><br>
                    박00(대기)<br><br>
                    이00(대기)<br><br>
                    김00(대기)<br><br>
                    나00(대기)
                    </div>
                </div>
            </div>
            <div class="Booking_Container">
                <div class="Booking_Nav">
                    <Button class="Booking_Nav_Btn">
                        예약현황 
                        <span class="Booking_Nav_Btn_N">5</span>
                    </Button>
                    <Button class="Booking_Nav_Btn">
                        상담현황
                        <span class="Booking_Nav_Btn_N">2</span>
                    </Button>
                </div>
                <div class="Booking_List">
                    <div class="Booking_Box">
                        <div class="Booking_Box_menu">
                            약사<br><br>
                            예약일시<br><br>
                            이름<br><br>
                            전화번호<br><br>
                            예약메모
                        </div>
                        <div class="Booking_Box_item">
                            김00<br><br>
                            2022-10-01 16:30<br><br>
                            이00<br><br>
                            010-1234-5678<br><br>
                            소화불량 관련 문의
                        </div>
                        <div class="Modify_Btn_Container">
                            <button class="Modify_Btn">수정</button>
                        </div>
                    </div>

                    <div class="Booking_Box">
                        <div class="Booking_Box_menu">
                            약사<br><br>
                            예약일시<br><br>
                            이름<br><br>
                            전화번호<br><br>
                            예약메모
                        </div>
                        <div class="Booking_Box_item">
                            나00<br><br>
                            2022-10-01 16:30<br><br>
                            황00<br><br>
                            010-1234-5678<br><br>
                            숙취 관련 약 문의
                        </div>
                        <div class="Modify_Btn_Container">
                            <button class="Modify_Btn">수정</button>
                        </div>
                    </div>

                    <div class="Booking_Box">
                        <div class="Booking_Box_menu">
                            약사<br><br>
                            예약일시<br><br>
                            이름<br><br>
                            전화번호<br><br>
                            예약메모
                        </div>
                        <div class="Booking_Box_item">
                            박00<br><br>
                            2021-10-01 16:30<br><br>
                            심00<br><br>
                            010-1234-5678<br><br>
                            눈 주변 가려움 관련
                        </div>
                        <div class="Modify_Btn_Container">
                            <button class="Modify_Btn">수정</button>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- 918x843 -->
        <article>
            <div class="Article_Container">
                <div class="Article_Nav">
                    <span class="Article_Nav_Txt1">검색결과</span>
                    <span class="Article_Nav_Txt2">7</span>
                    <span class="Article_Nav_Txt1">건<br><br></span>
                    <div class="Article_Nav_Content">
                        <span class="Article_Nav_Content_item">
                            <button class="Article_Nav_Content_item_btn">상담 많은 순</button>|
                            <button class="Article_Nav_Content_item_btn">별점 순</button>|
                            <button class="Article_Nav_Content_item_btn">거리순</button>|
                            <button class="Article_Nav_Content_item_btn">인기순</button>
                        </span>
                        <div class="search">
                            <input class="search_txt" type="text" placeholder="검색어를 입력하세요.">
                            <img class="search_img" src="/static/img/serch.png">
                        </div>
                    </div>
                </div>
                <div class="Section_Container">
                    <section>
                        <div class="Section_Box">
                            <div class="porfil_img_Container">
                                <img class="porfil_img" src="/static/img/profil.png">
                            </div>
                            <div class="Section_Box_Container">
                                <div class="Section_Box_Item">
                                    <span class="Section_Box_Item_Txt1">김00 약사</span>
                                    <span class="Section_Box_Item_Txt2">&nbsp;국장<br></span>
                                    <span class="Section_Box_Item_Txt3">000약국<br></span>
                                    <span class="Section_Box_Item_Txt4">신속, 정확 답변<br><br></span>
                                    <span class="Section_Box_Item_Txt5">⭐️⭐️⭐️⭐️⭐️<br></span>
                                    <span class="Section_Box_Item_Txt6">팔로워 423 상담수 1k+</span>
                                </div>
                            </div>
                            <div class="Section_Box_Icon_Container">
                                <div class="Section_Box_Bookmark">
                                    <img class="Section_Box_Bookmark_Icon" src="/static/img/bookmark.png">
                                </div>
                                <div class="Section_Box_Icon_Btn">
                                    <button class="Booking_Icon">약사지정 상담예약</button>
                                    <div class="Modal">
                                        <div class="Modal_Content">
                                            <span class="Modal_Close">&times;</span>
                                            <form>
                                                <span class="Modal_Content_Input_Label">예약일시</span>
                                                <span class="red">*</span><br>
                                                <input class="Modal_Content_Input" type="datetime-local" name="datetime" value="2023-06-30T10:30"><br>
                                                <span class="Modal_Content_Input_Label">고객명</span>
                                                <span class="red">*</span><br>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="고객명을 입력하세요."><br>
                                                <span class="Modal_Content_Input_Label">연락처</span>
                                                <span class="red">*</span><br>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="연락처를 입력해주세요"><br>
                                                <div class="text_booking">
                                                    <label class="text_booking_txt" for="textarea">예약메모</label><br>
                                                    <div class="textLengthWrap">
                                                        <p>(</p>
                                                        <p class="textCount">0자</p>
                                                        <p class="textTotal">/200자)</p>
                                                    </div>
                                                </div>
                                                <textarea class="Modal_Content_Input_Txt2" placeholder="예약관련 내부 메모" maxlength="300" resize:none;></textarea>
                                                <div class="Modal_Content_Input_CS">
                                                    <button class="Modal_Content_Input_Cancel">취소</button>
                                                    <button class="Modal_Content_Input_Save">저장</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="Section_Box">
                            <div class="porfil_img_Container">
                                <img class="porfil_img" src="/static/img/profil.png">
                            </div>
                            <div class="Section_Box_Container">
                                <div class="Section_Box_Item">
                                    <span class="Section_Box_Item_Txt1">나00 약사</span>
                                    <span class="Section_Box_Item_Txt2">&nbsp;약사<br></span>
                                    <span class="Section_Box_Item_Txt3">000약국<br></span>
                                    <span class="Section_Box_Item_Txt4">신속, 정확 답변<br><br></span>
                                    <span class="Section_Box_Item_Txt5">⭐️⭐️⭐️⭐️⭐️<br></span>
                                    <span class="Section_Box_Item_Txt6">팔로워 230 상담수 896</span>
                                </div>
                            </div>
                            <div class="Section_Box_Icon_Container">
                                <div class="Section_Box_Bookmark">
                                    <img class="Section_Box_Bookmark_Icon" src="/static/img/bookmark_notfill.png">
                                </div>
                                <div class="Section_Box_Icon_Btn">
                                    <button class="Booking_Icon">약사지정 상담예약</button>
                                    <div class="Modal">
                                        <div class="Modal_Content">
                                            <span class="Modal_Close">&times;</span>
                                            <form>
                                                <span class="Modal_Content_Input_Label">예약일시</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input" type="datetime-local" name="datetime" value="2023-06-30T10:30">
                                                <span class="Modal_Content_Input_Label">고객명</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="고객명을 입력하세요.">
                                                <span class="Modal_Content_Input_Label">연락처</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="연락처를 입력해주세요">
                                                <div class="text_booking">
                                                    <label class="text_booking_txt" for="textarea">예약메모</label><br>
                                                    <div class="textLengthWrap">
                                                        <p>(</p>
                                                        <p class="textCount">0자</p>
                                                        <p class="textTotal">/200자)</p>
                                                    </div>
                                                </div>
                                                <textarea class="Modal_Content_Input_Txt2" placeholder="예약관련 내부 메모" maxlength="300" resize:none;></textarea>
                                                <div class="Modal_Content_Input_CS">
                                                    <button class="Modal_Content_Input_Cancel">취소</button>
                                                    <button class="Modal_Content_Input_Save">저장</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="Section_Box">
                            <div class="porfil_img_Container">
                                <img class="porfil_img" src="/static/img/profil.png">
                            </div>
                            <div class="Section_Box_Container">
                                <div class="Section_Box_Item">
                                    <span class="Section_Box_Item_Txt1">박00 약사</span>
                                    <span class="Section_Box_Item_Txt2">&nbsp;약사<br></span>
                                    <span class="Section_Box_Item_Txt3">000약국<br></span>
                                    <span class="Section_Box_Item_Txt4">신속, 정확 답변<br><br></span>
                                    <span class="Section_Box_Item_Txt5">⭐️⭐️⭐️⭐️⭐️<br></span>
                                    <span class="Section_Box_Item_Txt6">팔로워 33 상담수 190</span>
                                </div>
                            </div>
                            <div class="Section_Box_Icon_Container">
                                <div class="Section_Box_Bookmark">
                                    <img class="Section_Box_Bookmark_Icon" src="/static/img/bookmark_notfill.png">
                                </div>
                                <div class="Section_Box_Icon_Btn">
                                    <button class="Booking_Icon">약사지정 상담예약</button>
                                    <div class="Modal">
                                        <div class="Modal_Content">
                                            <span class="Modal_Close">&times;</span>
                                            <form>
                                                <span class="Modal_Content_Input_Label">예약일시</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input" type="datetime-local" name="datetime" value="2023-06-30T10:30">
                                                <span class="Modal_Content_Input_Label">고객명</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="고객명을 입력하세요.">
                                                <span class="Modal_Content_Input_Label">연락처</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="연락처를 입력해주세요">
                                                <div class="text_booking">
                                                    <label class="text_booking_txt" for="textarea">예약메모</label><br>
                                                    <div class="textLengthWrap">
                                                        <p>(</p>
                                                        <p class="textCount">0자</p>
                                                        <p class="textTotal">/200자)</p>
                                                    </div>
                                                </div>
                                                <textarea class="Modal_Content_Input_Txt2" placeholder="예약관련 내부 메모" maxlength="300" resize:none;></textarea>
                                                <div class="Modal_Content_Input_CS">
                                                    <button class="Modal_Content_Input_Cancel">취소</button>
                                                    <button class="Modal_Content_Input_Save">저장</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="Section_Box">
                            <div class="porfil_img_Container">
                                <img class="porfil_img" src="/static/img/profil.png">
                            </div>
                            <div class="Section_Box_Container">
                                <div class="Section_Box_Item">
                                    <span class="Section_Box_Item_Txt1">이00 약사</span>
                                    <span class="Section_Box_Item_Txt2">&nbsp;국장<br></span>
                                    <span class="Section_Box_Item_Txt3">000약국<br></span>
                                    <span class="Section_Box_Item_Txt4">신속, 정확 답변<br><br></span>
                                    <span class="Section_Box_Item_Txt5">⭐️⭐️⭐️⭐️⭐️<br></span>
                                    <span class="Section_Box_Item_Txt6">팔로워 25 상담수 120</span>
                                </div>
                            </div>
                            <div class="Section_Box_Icon_Container">
                                <div class="Section_Box_Bookmark">
                                    <img class="Section_Box_Bookmark_Icon" src="/static/img/bookmark_notfill.png">
                                </div>
                                <div class="Section_Box_Icon_Btn">
                                    <button class="Booking_Icon">약사지정 상담예약</button>
                                    <div class="Modal">
                                        <div class="Modal_Content">
                                            <span class="Modal_Close">&times;</span>
                                            <form>
                                                <span class="Modal_Content_Input_Label">예약일시</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input" type="datetime-local" name="datetime" value="2023-06-30T10:30">
                                                <span class="Modal_Content_Input_Label">고객명</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="고객명을 입력하세요.">
                                                <span class="Modal_Content_Input_Label">연락처</span>
                                                <span class="red">*</span>
                                                <input class="Modal_Content_Input_Txt1" type="text" placeholder="연락처를 입력해주세요">
                                                <div class="text_booking">
                                                    <label class="text_booking_txt" for="textarea">예약메모</label><br>
                                                    <div class="textLengthWrap">
                                                        <p>(</p>
                                                        <p class="textCount">0자</p>
                                                        <p class="textTotal">/200자)</p>
                                                    </div>
                                                </div>
                                                <textarea class="Modal_Content_Input_Txt2" placeholder="예약관련 내부 메모" maxlength="300" resize:none;></textarea>
                                                <div class="Modal_Content_Input_CS">
                                                    <button class="Modal_Content_Input_Cancel">취소</button>
                                                    <button class="Modal_Content_Input_Save">저장</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
            </div>
        </article>
    </main>

    <footer>

    </footer>

</body>
</html>