<header>
    <div class="Logo" href="#">
        <img src="/static/img/logo.png">
    </div>
    <div class="Menu">
        <div class="Tools">
            <div class="Search">
                <div class="input">
                    <input type="text" placeholder="검색어를 입력하세요." id="mysearch" />
                </div>
                <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
            </div>
            <p class="signIn">로그인</p>
            <p class="signUp">회원가입</p>
        </div>
        <nav>
            <div class="MainMenu">약국찾기</div>
            <div class="MainMenu">보유약국 찾기</div>
            <div class="MainMenu">커뮤니티</div>
            <div class="MainMenu">상담하기</div>
        </nav>
    </div>
</header>