<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/human.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>

    <p class="line"></p>
    <main>
        <main class="text">
            증상을 선택해주세요.
        </main>
        <div class="BOX">
            <p class="box1">
                <p class="text1">감기</p>
            </p>
            <p class="box2">
                <p class="text2">복통/소화불량</p>
            </p>
            <p class="box3">
                <p class="text3">생리통/피임약</p>
            </p>
            <p class="box4">
                <p class="text4">피부발진/알러지</p>
            </p>
            <p class="box5">
                <p class="text5">화상</p>
            </p>
            <p class="box6">
                <p class="text6">결막염/다래끼</p>
            </p>
            <p class="box7">
                <p class="text7">코로나</p>
            </p>
            <p class="box8">
                <p class="text8">+기타증상</p>
            </p>
        </div>  
        <div class="sideBox">
            <p class="H">H</p>
            <p class="A">A</p>
        </div> 
    </main>
</body>
</html>