<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약국 찾기</title>
    <link rel="stylesheet" href="/static/css/humanMapSearching.css">
</head>

<body>
    <div class="humanSearch">
        <br>
        <p class="searchQ">현위치에서 가까운 약 판매점 찾기</p>
        <br>
        <input class="searchIn" type="text" placeholder="   현위치를 입력하세요.   ">
        <br>
        <br>
        <div class="btnClass">
            <button class="pharmBtn">약국</button>
            <button class="convBtn">편의점</button>
        </div>
    </div>

    <div class="searchList">
        <div class="firstResult">
            <div class="topBar1">
                <div class="resultNum1">
                    <p class="num1">1.</p>
                    <p class="endOrNot1">영업종료</p>
                </div>
                <p class="pharm1">은하수약국</p>
                <p class="pharm1min">도보 5분</p>
                <p class="review1">*****<br>리뷰보기</p>
            </div>
            <div class="title1">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="content1">
                <p>055-755-3515</p>
                <br>
                <p>경남 진주시 진주역로95번길 25NK 빌딩 102호 (지번 가좌동 1978-1)</p>
                <br>
                <p>월~금 09:30~19:30<br>토요일 09:30~13:00<br>일요일 휴무</p>
            </div>
            <button class="findBtn1">재고찾기</button>
        </div>

        <div class="adResult">
            <div class="topBarAd">
                <div class="resultNumAd">
                    <p class="numAd">팜팜<br>광고</p>
                    <p class="endOrNotAd">영업중</p>
                </div>
                <p class="pharmAd">해맑은약국</p>
                <p class="pharmAdMin">도보 14분</p>
                <p class="reviewAd">*****<br>리뷰보기</p>
            </div>
            <div class="titleAd">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="contentAd">
                <p>055-755-2336</p>
                <br>
                <p>경남 진주시 내동로356 1층 (지번 가좌동 562-5)</p>
                <br>
                <p>월~금 09:00~19:00<br>토요일 09:00~13:00<br>일요일 휴무</p>
            </div>
            <button class="findBtnAd">재고찾기</button>
        </div>

        <div class="secondResult">
            <div class="topBar2">
                <div class="resultNum2">
                    <p class="num2">2.</p>
                    <p class="endOrNot2">영업중</p>
                </div>
                <p class="pharm2">한별약국</p>
                <p class="pharm2Min">도보 9분</p>
                <p class="review2">*****<br>리뷰보기</p>
            </div>
            <div class="title2">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="content2">
                <p>055-757-2511</p>
                <br>
                <p>경남 진주시 진주대로558 (지번 가좌동 448-5)</p>
                <br>
                <p>월~금 09:00~19:00<br>토요일 09:~13:00<br>일요일 휴무</p>
            </div>
            <button class="findBtn2">재고찾기</button>
        </div>

        <div class="thirdResult">
            <div class="topBar3">
                <div class="resultNum3">
                    <p class="num3">3.</p>
                    <p class="endOrNot3">영업중</p>
                </div>
                <p class="pharm3">해맑은약국</p>
                <p class="pharm3Min">도보 14분</p>
                <p class="review3">*****<br>리뷰보기</p>
            </div>
            <div class="title3">
                <p>대표번호</p>
                <br>
                <p>주소</p>
                <br>
                <br>
                <p>영업시간</p>
            </div>
            <div class="content3">
                <p>055-755-2336</p>
                <br>
                <p>경남 진주시 내동로356 1층 (지번 가좌동 562-5)</p>
                <br>
                <p>월~금 09:00~19:00<br>토요일 09:00~13:00<br>일요일 휴무</p>
            </div>
            <button class="findBtn3">재고찾기</button>
        </div>

        <div class="mapBox"></div>
    </div>
</body>

</html>