<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/info.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div style="overflow:auto;">
        <div class="navbox">
            <p class="infobox"></p>
            <p class="profilecircle">
                <p class="hong">홍</p>
            </p>
            <p class="name">홍길동</p>
            <p class="email">hong@naver.com</p>
            <p class="phonenum">010-1234-5678</p>
            <p class="birth">생년월일 : 2003/09/24</p>
            <p class="나머지">성별: 남자 <br><br> &nbsp;키:&nbsp;&nbsp;180cm <br><br>몸무게:70kg</p>
        </div>

        <div class="comment">
            <p class="commentbox"></p>
            <p class="commenttext">> 내가 쓴 댓글</p>
            <p class="scripttext">> 내가 좋아요한 글</p>
        </div>

        <div class="bookmark">
            <p class="bookbox"></p>
            <p class="text">나의 북마크</p>
            <p class="docname">김철수 약사</p>
            <p class="pharmname">은하수약국</p>
            <p class="position">국장</p>
            <p class="mediname">로디비카(혈압강하제)</p>
            <p class="date">TODAY</p>
            <p class="line">
                <p class="underline1"></p>
                <p class="underline2"></p>
                <p class="underline3"></p>
                <p class="underline4"></p>
            </p>
            
            <p class="add">
                <p class="iconbox"></p>
                <p class="plus">+</p>
            </p>

            <div class="secondtext">
                
                <p class="docname2">&nbsp;한유리 약사</p>
                <p class="pharmname2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;해맑은약국</p>
                <p class="position2">&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;약사</p>
                <p class="mediname2">&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;타이레놀(해열제)</p>
            </div>
            <p class="date2">22/06/24</p>
        </div>
    </div>
</body>
</html>